{% extends "layouts/zay.html.twig" %}
{% block content %}
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Formulaire de contact</h1>
            <p>
                Dans le cas où vous auriez un quelconque problème, question, n’hésitez pas à me contacter, je serai ravis d’en discuter avec vous.
            </p>
        </div>
    </div>

    <!-- Start Map -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.7193459974133!2d5.5052039156865655!3d50.61375238346572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0f96c8071fb01%3A0x7fe3d7231307b1e6!2sIPEPS%20Seraing%20Sup%C3%A9rieur!5e0!3m2!1sfr!2sbe!4v1634560101658!5m2!1sfr!2sbe" width="100%" height="450" ></iframe>
    <script>
        var mymap = L.map('mapid').setView([-23.013104, -43.394365, 13], 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Zay Telmplte | Template Design by <a href="https://templatemo.com/">Templatemo</a> | Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(mymap);

        L.marker([-23.013104, -43.394365, 13]).addTo(mymap)
            .bindPopup("<b>Zay</b> eCommerce Template<br />Location.").openPopup();

        mymap.scrollWheelZoom.disable();
        mymap.touchZoom.disable();
    </script>
    <!-- Ena Map -->

    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">

            {{ form_start(formulaire)}}

                {{ form_row(formulaire.username,{'label':'Nom d\'utilisateur','attr' :{'placeholder':'Nom d\'utilisateur'}}) }}
                {{ form_row(formulaire.Email,{'label':'Mail','attr' :{'placeholder':'Adresse mail valide'}}) }}
            {{ form_row(formulaire.Message,{'label':'Votre message','attr' :{'placeholder':'Toutes les infos nécessaires'}}) }}
                {{ form_end(formulaire) }}



        </div>
    </div>
{% endblock %}
